*{
    padding: 0;
    margin: 0;

}

.navbar{
    display: flex;
    background-color: rgb(1, 12, 1);
    justify-content: center;
}

.header{
    text-align: center;
}

.logo{
    width: 25%;
}



.content{
    background-size: cover;
    
}



.part1{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.me{
    width: 17%;
    height: 280px;
    object-fit: cover;
    border-radius: 121px;
    border: 2px solid black
}

.photo{
    margin-top: 280px;
}

.hello{
    font-weight: 900;
    font-size: 42px;
    margin: 13px
}

.para{
    font-weight: 500;
    font-size: 17px;
    color: rgb(240, 11, 182);
    width: 23%;
    border-radius: 60px;
}

.circle1{
    
    display: flex;
    flex-direction: column;
    align-items: center;

}


.tabs{
    display: flex;
    justify-content: center;
    margin: 92px
}

.tab{
    margin: 25px;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 87px;
    
}

.tab a{
    
    text-decoration: none;
}

.t1{
    background-color: tomato;
    cursor: pointer;
}

.t2{
    background-color: rgb(31, 184, 56);
    cursor: pointer;
}

.t3{
    background-color: rgb(32, 15, 185);
    cursor: pointer;
}

.t1:hover{
    background-color: white;
    transition: .4s ease-in;
}

.t2:hover{
    background-color: white;
    transition: .4s ease-in;
}

.t3:hover{
    background-color: white;
    transition: .4s ease-in;
}



.footer{
    display: flex;
    padding: 49px;
    justify-content: space-evenly;
}

.socials a{
    margin: 20px;
}








